[2017-06-05 13:12] kbt1 commented on #179
The product order form works good now and allows multiple items to be added.

Amanda - close when you are ready.

[2017-06-05 13:19] kbt1 commented on #175
I beleive the Desktop and Desktop and Web User counts are wrong.
![image](https://cloud.githubusercontent.com/assets/26387044/26785243/fbd9d2fe-49c6-11e7-8d1a-3e22c5a8ae01.png)

missing monthly count
Per Stella the desktop count and desktop and web user count must be 1) # of license issued 2) Active login account.
example: this company is marked as a desktop user but they havent registered for a l

[2017-06-05 13:24] kbt1 opened #186 "Printing Membership and Prosis Invoice"
I test printed this members #44147 invoice for Membership and Prosis, only Prosis came up on the invoice.
Membership expired 6/1/17 and Prosis expires 7/1/17. They should both print on the invoice.

![image](https://cloud.githubusercontent.com/assets/26387044/26785498/54947506-49c8-11e7-8be6-7d5996f70455.png)

Looks like there are issues with invoicing. I checked #698 and both membership and prosi

[2017-06-05 13:39] sagarjagdish commented on #175
@kbt1  :

Please see below for my comment and let me know if I understood anything wrong. I will implement the same thing for below 2 count calculation.

Prosis Pro Desktop User Count = the total number of the company having a license issued.
Prosis Pro Desktop and Web User Count = the total number of the company having a license issued and active web account.

[2017-06-05 13:43] kbt1 commented on #175
Yes, that is correct.

[2017-06-05 14:27] sagarjagdish commented on #175
We have updated logic as per above can you please check and confirm. Please let me know if any issue.

[2017-06-05 14:59] kbt1 opened #187 "Prosis CMS and New System"
I dont know if this should be going on or not, but I change an expiration date in CMS so members can get back into their program, and it is changing the new membership system.

[2017-06-05 15:09] kbt1 commented on #175
this looks better.

[2017-06-05 15:09] #175 closed

[2017-06-05 17:26] kbt1 commented on #155
Comparison reports for Membership and Prosis both seem off still.
Stella, we can talk about this and try to figure out what is going on.

[2017-06-05 17:42] omnitekinc commented on #155
Let's discuss tomorrow morning. I will look into it today as well to figure out the details.

[2017-06-05 17:52] kbt1 commented on #155
here is the spreadsheet for each as of May 31st.
[Karen Membership Comparison by Month.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1052757/Karen.Membership.Comparison.by.Month.xlsx)
[Karen  PROSIS Comparison by Month for Stella.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1052758/Karen.PROSIS.Comparison.by.Month.for.Stella.xlsx)
basically the counts are the totals for

[2017-06-05 19:33] omnitekinc commented on #155
Thanks Karen, will look into this

[2017-06-06 12:28] sagarjagdish commented on #186
We have addressed this issue, can you please verify and confirm now?

![image](https://cloud.githubusercontent.com/assets/7322922/26829086/b213208c-4ae1-11e7-9a1a-6826396c686d.png)

[2017-06-06 12:29] sagarjagdish commented on #185
updated text as suggested please verify and confirm.

[2017-06-06 12:30] sagarjagdish commented on #171
We have changes invoice wording as per provided document file. Please verify and confirm.

[2017-06-06 12:37] sagarjagdish commented on #163
1- You need to adjust top Margin to fit into a #10 Window Envelope folded.
=> Done and uploaded.

2- Also, the monthly payment is wrong amount for this one i pulled.
=> Now it's coming from the System Setting >> Pricing Screen. Please check and confirm.

3- please be sure all current monthly payments are figured in.
=> as per above comment now amount coming from the System Setting >> Pricing Scree

[2017-06-06 12:38] sagarjagdish commented on #160
@kbt1 - I tried to make this issue resolved and uploaded changes. can you please verify once and let me know your feedback on this?

[2017-06-06 12:57] sagarjagdish commented on #155
We have looked into this issue and found one pending query that pending to execute on production as it's most recent change. We have verified report after executing that query and still found difference more than 100 users. Please see below for the explanation.

1) Exported report for 30th JUN and Forward
[MembershipComparisonReport-5900.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1

[2017-06-06 13:48] kbt1 commented on #186
ID#12425 Membership is due but the total due is $858.00 in the email text
![image](https://cloud.githubusercontent.com/assets/26387044/26832247/7a755070-4a94-11e7-886f-bf5a5246f450.png)
When i select print, it prints 2 invoices, 1 is for membership due and the other is for Prosis which is not due until 2018. Nothing paid or with current expiration dates should print.
[ID#12425.pdf](https://github.

[2017-06-06 13:50] kbt1 commented on #185
text is good.

[2017-06-06 13:50] #185 closed

[2017-06-06 13:53] kbt1 commented on #171
Steve - looks good. verify and close.

[2017-06-06 14:05] stevefox3781 commented on #171
Good

[2017-06-06 14:12] kbt1 commented on #163
#1. Top Margin = **2.5"**

On the customer address portion, please format like this:
**Contact Name
Company Name
Address
City, State Zip Code**

everything else looks good.

[2017-06-06 14:26] kbt1 commented on #160
Labels look good.
1 - can you adjust Font Size to 10
2 - can you make this merge into a word doc instead of a pdf so I can manually adjust longer company names or addresses?

[2017-06-06 14:32] kbt1 commented on #155
Stella
we may need to re figure how this is pulled.
we can talk about it in the meeting. i may have to just keep a manual spreadsheet like i have been.
These reports have been pulled according to expiration dates. Not by dues transactions or payments.
The totals are pulled the last day of the month and do not include members that expired the 1st of that month.
[Membership and Prosis Comparison Rep

[2017-06-06 14:53] amandagoyette commented on #179
looks good

[2017-06-06 14:53] #179 closed

[2017-06-06 15:35] #187 closed

[2017-06-06 15:41] omnitekinc commented on #159
@sagarjagdish Can we finish this function by tomorrow, Karen would like to generate the report this week because she is on vacation next week.

[2017-06-06 15:58] omnitekinc commented on #155
@kbt1 Hi Karen, I talked to Sagar about the report, you are correct, we are using the Due Transaction date instead of the expiration date. If you are only generating a monthly report to see how many active members, expiration date would make sense, but if you are generating annual reports, and if we use expiration dates, then the number will not be accurate because the expiration date changes over

[2017-06-06 16:02] kbt1 commented on #155
Yes, its is an ongoing Monthly Report.

CAN YOU CALL ME, Steve and I have a couple questions.

[2017-06-06 16:05] kbt1 commented on #159
Stella and Sagar, here is the most current list of Monthly Payments for the 2 Batches that will be created.
[2015 to 2016 monthly payments spreadsheet Most Current List.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1055683/2015.to.2016.monthly.payments.spreadsheet.Most.Current.List.xlsx)

[2017-06-06 16:14] stevefox3781 commented on #177
All good.

[2017-06-06 16:14] #177 closed

[2017-06-06 16:16] stevefox3781 opened #188 "Duplicate Tech Call"
When a member calls in with two questions and you go to duplicate the call, the information from the original call is converted to the duplicate call. The only information that should transfer to the duplicate call is the member information and the tech name. Engine information, problem, answer etc should all be cleared out. Any questions let me know.

[2017-06-06 16:26] omnitekinc commented on #155
@sagarjagdish
Please go ahead and use the expiration date for this report and see if we can get closer to the number.

[2017-06-06 16:36] kbt1 commented on #159
all exp dates 6/1/17
Build in 30 days buffer

[2017-06-06 16:37] omnitekinc commented on #159
@sagarjagdish Please change all these members in the Excel expiration date to June 1st for both membership and Prosis Pro.

Can we also add a function for Prosis Pro: Adding a 30 days buffer for Prosis Pro logout date. Currently, if the monthly Prosis Pro user expired on June 1st, they will not be able to login to Prosis Pro. This should not change the expiration date, it just giving the user addi

[2017-06-06 18:25] kbt1 opened #189 "2 Membership records -= PLEASE DELETE"
are you going to delete these? i just found them.
![image](https://user-images.githubusercontent.com/26387044/26845265-8a5a5748-4abb-11e7-8127-f3d9b397796d.png)

[2017-06-06 18:35] kbt1 opened #190 "Prosis Pro Tab"
I need the Active/Inactive box in the new membership system
this is what it is in CMS
![image](https://user-images.githubusercontent.com/26387044/26845672-ddb8f83a-4abc-11e7-9bc4-f83371983cd4.png)

[2017-06-06 19:28] kbt1 opened #191 "Error Message"

[2017-06-07 13:14] kbt1 commented on #189
Sagar
Please delete these 2 records, i need to add a new member and want them to go in sequential order.

[2017-06-07 13:52] sagarjagdish commented on #189
@kbt1 : It's done, sorry for the delay. Please check.

[2017-06-07 13:53] kbt1 commented on #189
thank you!

[2017-06-07 13:56] sagarjagdish commented on #186
@kbt1  : Okay so in this case what should we have to show in email and print invoice when Member or Prosis Pro expiration date having long duration to expire like more than 90 or 100 days.

can you please suggest to we can update system with proper check?

[2017-06-07 13:59] kbt1 commented on #189
Sagar:

Can you delete the Prosis connected to these records also.

[2017-06-07 14:19] sagarjagdish commented on #189
@kbt1 deleted those testing member from the Prosis as well.

[2017-06-07 14:48] kbt1 commented on #189
All the prosis info is still attached to #44280 - changed to a 30 day trial and info does not change.
![image](https://user-images.githubusercontent.com/26387044/26884819-582da918-4b66-11e7-989a-86cae003cf81.png)

[2017-06-07 14:53] sagarjagdish commented on #189
Okay..let me check. I have removed that account but may be there is more other places the need to check.

[2017-06-07 14:54] kbt1 commented on #186
If Membership or Prosis Pro expiration date is current 90 days past the other expiration date, then just print the invoice that is due.
So if Membership expires July 1 2017 and Prosis Expires 12/1/17, only Membership invoice will print/email
Same with the other way around.

If Membership expired 90 days and Prosis is due, then both fees should be on invoice.
So if Membership expired 5/1/17 and Pro

[2017-06-07 14:55] sagarjagdish commented on #189
@kbt1  For the #44280 you don't want Prosis Pro information, correct?

[2017-06-07 15:12] kbt1 commented on #189
for #44280 and #44281 both need Prosis completely cleared from records.

[2017-06-07 15:12] kbt1 commented on #189
let me know when done.

[2017-06-07 15:17] sagarjagdish commented on #188
This function already exist in new website. Please see below image. This user is Active and shown as Green color. If you want to Inactive then just click on that and it will be Inactive and will show as Red color.

![image](https://user-images.githubusercontent.com/7322922/26886187-66dcb92a-4bc2-11e7-9dc6-9069dfd3d18d.png)

[2017-06-07 15:18] sagarjagdish commented on #190
This function already exist in new website. Please see below image. This user is Active and shown as Green color. If you want to Inactive then just click on that and it will be Inactive and will show as Red color.

![image](https://user-images.githubusercontent.com/7322922/26886187-66dcb92a-4bc2-11e7-9dc6-9069dfd3d18d.png)

[2017-06-07 15:29] sagarjagdish commented on #186
Okay I am clear with that point which you listed about now my question is for below case please see and give me your comment on this.

1) If Membership expires Sept 1 2017 and Prosis Expires Sept 1 2017, today we click on generate invoice then what should happen for Print/Email invoice.

2) If Membership expires Sept 1 2017 and Prosis Expires Oct 1 2017, today we click on generate invoice then wha

[2017-06-07 15:34] sagarjagdish commented on #189
Please see below image, 44281 not exist in system and 44280 have no Prosis Detail.

![image](https://user-images.githubusercontent.com/7322922/26887087-b997d38c-4bc4-11e7-8346-7ecc0df0ebed.png)

![image](https://user-images.githubusercontent.com/7322922/26887124-cc2837f8-4bc4-11e7-9a97-cc94e5ebc037.png)

[2017-06-07 15:34] sagarjagdish commented on #189
Please let me know if still you are facing any issue.

[2017-06-07 15:40] kbt1 commented on #190
Please change so it says Active when green and Inactive when red not expired.
this is for Inactive web logins that want to activate the login now. Not so show current or expired.
like this one in CMS:
![image](https://user-images.githubusercontent.com/26387044/26887449-a9d4beb2-4b6d-11e7-8578-702eec170bcd.png)

[2017-06-07 15:43] kbt1 commented on #186
Correct.
also, if membership or prosis expire Sept 1 2017 and one of the other expired previously in June 2017, i want both to print or email.

[2017-06-07 15:45] kbt1 commented on #189
perfect.

[2017-06-07 15:49] kbt1 commented on #189
I went to add a 30 day trial login and it was successfully added, however, i get this error when i pull their membership record up in new system #44280

![image](https://user-images.githubusercontent.com/26387044/26887887-f688a164-4b6e-11e7-91a6-36917e670a25.png)

when i go into CMS to check their account, i get this error:

![image](https://user-images.githubusercontent.com/26387044/26887979-4d65

[2017-06-07 16:29] kbt1 commented on #189
I cant even open record #44280 now.
![image](https://user-images.githubusercontent.com/26387044/26889656-7744bc3e-4b74-11e7-8e14-6d06f775075a.png)

[2017-06-07 16:41] kbt1 opened #192 "Error Message"
Trying to run month end report for New Membership Report and getting error
![image](https://user-images.githubusercontent.com/26387044/26890135-26cf8ffc-4b76-11e7-89e0-261119d70753.png)
please let us know if there are issues.
CMS doesnt seem to be working
I cant get into ID#44280 in new system

[2017-06-07 16:52] sagarjagdish commented on #189
@kbt1 It's occur because there is blank Expiry data for Prosis Pro account, earlier we have no blank expiry date for Prosis Pro. I have manage that case for now. Please check.

I have manage that case in New Membership System only. Please add Expiry date for the Prosis Pro 30 Days Trial and it will work in CMS as well.

[2017-06-07 16:54] kbt1 commented on #189
PERFECT.

[2017-06-07 16:54] #189 closed

[2017-06-07 17:06] sagarjagdish commented on #192
I cant get into ID#44280 in new system
=> It's working now. There is issue with Prosis Pro expiry date for that Member.

[2017-06-07 17:17] sagarjagdish commented on #159
We have started work on this and it will be completed before end of this week. I have attached EXCEL template which will accept by System to Bulk dues create process. Please review template and let me know you suggestion if any.

attached file having 2 sheet as below.
1) Instruction = having information of all those column which listed in 2nd sheet with sample data.
2) Monthly-Payment-Duestransact

[2017-06-07 17:38] kbt1 commented on #192
all ok

[2017-06-07 17:38] #192 closed

[2017-06-07 17:38] #191 closed

[2017-06-07 17:51] kbt1 commented on #159
i have made notes on the Bulk Dues Entry spreadsheet and attached it.
[Bulk_DuesEntry - corrections.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1058871/Bulk_DuesEntry.-.corrections.xlsx)

i have also attached most current spreadsheet
[2015 to 2016 monthly payments spreadsheet for Sagar 060717.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1058872/2015.to.2016.monthly.pay

[2017-06-07 19:21] kbt1 opened #193 "Searching for a member by company name"
I am searching for g & s auto parts
![image](https://user-images.githubusercontent.com/26387044/26896921-31bfa346-4b8c-11e7-9bc8-6bf55ee585ec.png)

after i click search, this is what i get
![image](https://user-images.githubusercontent.com/26387044/26896937-44a2554e-4b8c-11e7-8fc1-e4eae838a863.png)

so instead i search for their member #502 and they are there
![image](https://user-images.githubuse

[2017-06-07 19:33] kbt1 opened #194 "Monthly Report Tab - New Membership Report Error Message"
I put in an expiration date of 7/1/2016 using the calendar in the New Membership Report box
![image](https://user-images.githubusercontent.com/26387044/26897397-0b8f03fe-4b8e-11e7-85a2-7a39faa2063f.png)

and get this error
![image](https://user-images.githubusercontent.com/26387044/26897430-2c05b786-4b8e-11e7-8e2b-77b51f885449.png)

[2017-06-07 21:07] kbt1 opened #195 "Printing and Emailing Invoices"
ID#33871 PAI Industries. both Membership and Prosis Expire 6/1/17.
 I select their record and click on print invoice, i only get a prosis invoice.
I select email invoice and it includes both Membership and Prosis fee.

please look into this.

Thank you.

[2017-06-08 05:26] sagarjagdish commented on #195
Please see below image. I tired same and it's printed both together for me, please confirm we all are using live URL for all new issue.

Live :
http://71.13.159.202/aeramms/membership.aspx

![image](https://user-images.githubusercontent.com/7322922/26913500-d38f0098-4c38-11e7-94c1-16bff1c6e054.png)

![image](https://user-images.githubusercontent.com/7322922/26913509-dff8823c-4c38-11e7-969b-460e4b4

[2017-06-08 07:42] sagarjagdish commented on #194
we have resolved this error, please check and confirm.

[2017-06-08 08:48] sagarjagdish commented on #193
Please see below image. now search option with "&" is working on live.

![image](https://user-images.githubusercontent.com/7322922/26920031-4a72174c-4c55-11e7-9e26-54350e4771d3.png)

[2017-06-08 10:14] sagarjagdish commented on #186
I did testing for below member and it's generating invoice as below please verify from your end and let me know if any change required in this.

#44147  >> Membership expired 6/1/17 and Prosis expires 7/1/17 >> combine print/email invoice.
#12425 >>  Membership expired 6/1/17 and Prosis expires 6/1/18 >> print/email only membership invoice.
#11342 >>  Membership expired 5/1/18 and Prosis expires 5

[2017-06-08 12:43] kbt1 opened #196 "Monthly Report: Active Member Locator - Website"
can you add Phone Fax and Email to this report.

[2017-06-08 12:46] kbt1 commented on #195
works fine now.

[2017-06-08 12:46] #195 closed

[2017-06-08 12:48] kbt1 commented on #194
works good now

[2017-06-08 12:48] #194 closed

[2017-06-08 12:49] kbt1 commented on #193
works good now

[2017-06-08 12:49] #193 closed

[2017-06-08 12:57] kbt1 commented on #186
works good.

[2017-06-08 12:57] #186 closed

[2017-06-08 13:09] kbt1 commented on #190
Please change so it says Active when green and Inactive when red not expired.
otherwise, works good.

[2017-06-08 16:55] kbt1 commented on #159
Stella and Sagar:
Here is what I need to enter in New System for Credit Card Monthly Payments.
I ran the credit cards and entered in QuickBooks and now I will need to enter in Dues Processing.
I wanted to give you an exact sample of what I need to enter so you can see the spreadsheet.
This is exactly how I need the batch spreadsheet to look like.
I had 22 declined which are not on this report.
Thi

[2017-06-09 05:20] sagarjagdish commented on #163
We have done with this change and uploaded on production. Please verify and confirm.

[2017-06-09 05:40] sagarjagdish commented on #159
@kbt1 - I have below question with the previously attached file please see below.

1) What it the use of Total for # and TOTAL, when we are loading that data into Dues Processing?
2) What is the use of QTY and how I need to deal with that during auto Dues Processing?

I am fine with the other data and as per your new format we need to make few change in our current working implementation as we alr

[2017-06-09 08:36] sagarjagdish commented on #196
I have checked and it's already there. I have attached exported file there. Please let me know if any other information need to include in this report.

[ActiveMemberReport-Website-5900 (2).xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1063417/ActiveMemberReport-Website-5900.2.xlsx)

[2017-06-09 11:28] sagarjagdish commented on #188
now only member information and the tech name copied in duplicate call. Please check and confirm.

[2017-06-09 11:33] sagarjagdish commented on #190
changed label from expired to inactive. please verify and confirm.

[2017-06-09 13:46] kbt1 commented on #190
good.

[2017-06-09 13:46] #190 closed

[2017-06-09 13:52] kbt1 commented on #163
please adjust top margin to 2"
it still isnt fitting right in the window envelope when folded.

[2017-06-09 13:56] kbt1 commented on #159
That was just a report from Quickbooks I wanted you to see.
So you can see how many transactions are entered, wording and fees.
As long as your spreadsheet is sorted by Customer ID#, it will be fine.

[2017-06-09 13:57] kbt1 commented on #196
looks good

[2017-06-09 13:57] #196 closed

[2017-06-09 16:23] kbt1 opened #197 "Membership/Prosis Invoices"
ID#17268
Membership expires 6-1-17
Prosis expired 6-1-15

both show up on invoice for emailing, it should only be Membership. Prosis is expired 2 years.
same with printing, it should only print Membership since Prosis is expired 2 years.

[2017-06-09 20:40] kbt1 opened #198 "Prospects Tab"
It would be nice to be able to add an attachment to an email under the Prospects Tab

![image](https://user-images.githubusercontent.com/26387044/26993684-e8bb7108-4d29-11e7-88b9-a13509821359.png)

let me know if this is possible.

[2017-06-10 10:32] sagarjagdish commented on #155
@omnitekinc : I am working on that and will send you update asap.

[2017-06-10 12:59] sagarjagdish commented on #155
I have changed logic with the expiration date  of member and exported report for the membership for with 05/01/2017. Please find attached file for the exported report and it's look like it's much closer to old one.

![image](https://user-images.githubusercontent.com/7322922/27002914-623a2872-4e0a-11e7-8bde-a7baa2a5f86a.png)

[MembershipComparisonReport-5900 (9).xlsx](https://github.com/omnitekinc/

[2017-06-12 08:59] sagarjagdish commented on #197
We have addressed issue for ID#17268. now it's exporting only membership invoice as Prosis expired before 2 year. We have exclude those Member/Prosis user from invoice who expired before 1.5 year.

Pleases review updated and let me know if any change required in this.

[2017-06-12 16:24] Dphagen opened #199 "Non Existing member id number"
A caller called and gave non existing ID number such as 4240,  While in the Tech Queue and clicking on Create New Tech Call, I put in the 4240 and it creates a call with no information in it. I don't think we want that.

[2017-06-12 16:37] stevefox3781 opened #200 "Closed Call Search"
When I do a close call search under engines, the results come up fine. When I go into one the closed calls from the search results and back out to look at others, it removes the LITER field that was inputted. When we return the the closed call search results, the engine information originally searched should still be there. Any information that has been entered for the engine search should remain

[2017-06-13 05:17] sagarjagdish commented on #199
@omnitekinc  :  can you please suggest which action need to take for such non existed number? should system stop to create teach call for such number or what?

[2017-06-13 11:55] sagarjagdish commented on #198
Please see below image. We have added function to attached file with prospect email function. Please review and let us know if any change.

![image](https://user-images.githubusercontent.com/7322922/27081182-d54dac0e-505c-11e7-85d6-59281fa6e315.png)

[2017-06-13 11:56] sagarjagdish commented on #200
We have resolved this issue. Please verify and confirm.

[2017-06-13 12:44] stevefox3781 commented on #200
Works good!!! Thank you,

[2017-06-13 12:44] #200 closed

[2017-06-13 12:46] stevefox3781 commented on #188
Works good. Thank you!!!!!!!

[2017-06-13 12:46] #188 closed

[2017-06-13 12:56] Dphagen commented on #199
How about the phrase “Invalid ID Number” pops up and the entry box is still there for another try.

Dave

From: sagarjagdish [mailto:notifications@github.com]
Sent: Tuesday, June 13, 2017 12:18 AM
To: omnitekinc/AERA_MSS_Clients <AERA_MSS_Clients@noreply.github.com>
Cc: Dave Hagen <dave@aera.org>; Author <author@noreply.github.com>
Subject: Re: [omnitekinc/AERA_MSS_Clients] Non Existing member id

[2017-06-13 21:53] stevefox3781 opened #201 "Fax number removed from tech call when editing"
We found out that when you go into a call to edit it, the fax number is removed. Please see screenshot below.

![fax number](https://user-images.githubusercontent.com/26387391/27106352-af40c27a-5058-11e7-9bfe-8f2974451587.jpg)
![fax number missing](https://user-images.githubusercontent.com/26387391/27106370-c7f5542a-5058-11e7-9599-25dd945ad1be.jpg)

[2017-06-14 12:26] sagarjagdish commented on #160
1 - I tried and changed font size with 10 it's not showing proper result. Please see below.

Font size: 10px;
![image](https://user-images.githubusercontent.com/7322922/27131907-74ed891e-512a-11e7-9800-06ac5a684672.png)

Font size: 8.5px;
![image](https://user-images.githubusercontent.com/7322922/27131909-7772aa7a-512a-11e7-9c33-9e54366dcbf3.png)

2- I am trying to export same data in word but it

[2017-06-14 12:28] sagarjagdish commented on #199
We have address this issue as suggested. Please refer below image.

![image](https://user-images.githubusercontent.com/7322922/27132055-f65eaed8-512a-11e7-85c2-d4a37f8ca8af.png)

[2017-06-14 12:29] sagarjagdish commented on #201
We have resolved this issue. Please refer below image.

![image](https://user-images.githubusercontent.com/7322922/27132089-1ebd06d6-512b-11e7-92fd-4f74d75c7ce2.png)

[2017-06-15 17:57] aharmening opened #202 "Membership-Monthly Reports-Quick Membership Count Report"
Can we pull out government members so they have their own line in the highlighted section for this report?

[2017-06-16 13:35] sagarjagdish commented on #202
We have added government  as separate row from the Active. Earlier it's considering under Active.

[2017-06-16 13:40] sagarjagdish commented on #160
2 - now Certificate Labels exported as doc file, so you can manage height from your end. We tried but we can not merge Certificate and label in single doc file as Certificate in landscape format and label in portiere.

However exported Certificate and label having same sequence, so no need to worry about the sequence event if both exported separately.

Please verify and let me know if any change r

[2017-06-16 14:48] amandagoyette commented on #202
Thanks!

[2017-06-16 14:48] #202 closed

[2017-06-19 20:58] kbt1 commented on #198
perfect

[2017-06-19 20:58] #198 closed

[2017-06-19 21:05] kbt1 commented on #197
good to go

[2017-06-19 21:05] #197 closed

[2017-06-19 21:09] kbt1 commented on #199
Dave, this works good.
Please log into the Github.com and close this issue.

[2017-06-20 14:36] kbt1 opened #203 "Membership - Zip Code Alpha Numeric"
I can not enter an alpha numeric zip code in the mailing address but i can in the shipping address.
can you please fix so they both accept alpha numeric postal codes. (ID#44284)

![image](https://user-images.githubusercontent.com/26387044/27338833-cfc68afa-559b-11e7-93fe-31724a08c9f9.png)

[2017-06-20 15:55] kbt1 commented on #160
this will work.

[2017-06-20 15:55] #160 closed

[2017-06-20 20:58] kbt1 commented on #159
Is there any update on the Bulk Dues Entry?

[2017-06-21 11:26] sagarjagdish commented on #159
@kbt1 : We have uploaded this change on stage, I thought I sent you update before but I didn't.

Please verify this process on stage first.

http://71.13.159.202/aeramms_stage/duesprocessing.aspx

![image](https://user-images.githubusercontent.com/7322922/27381819-e76e54ba-56a1-11e7-9a08-9d9991cc41ce.png)

1) download template
2) fill data into template
3) upload that file and process.

This proce

[2017-06-21 11:56] sagarjagdish commented on #203
We have done with this request. Please verify and confirm.

[2017-06-21 12:47] kbt1 commented on #203
good to go

[2017-06-21 12:47] #203 closed

[2017-06-21 16:12] omnitekinc commented on #159
@sagarjagdish Karen will be testing this on the staging server and give us feedback, she is planning to work on due processing next Monday, please move this update to Production over the weekend.

[2017-06-21 16:19] aharmening opened #204 "Membership - Monthly Reports - New Membership Report"
Tab 2 is a summary sheet.  The final column is a running total of something, and I'm unsure what.  It would be nice if it would give us the running total of new members for the fiscal year we are pulling. The number there now doesn't do us any good.
This is the original Report:
[NewMembershipReport-8500.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1092154/NewMembershipReport-8500.xls

[2017-06-21 19:55] kbt1 opened #205 "Adding 2 columns to Membership"
Hi Stella
Something I just ran across was looking up a company called Arnold Motor Supply.
There are 20 locations and they didnt know their ID# or info under that company location (it was an IT guy calling about Prosis), so it would help to have 2 columns added after the Company Name Column, add City and State Columns.
That way when a company has multiple locations, it would be easier to find list

[2017-06-21 20:01] omnitekinc commented on #205
@kbt1 How many members have multiple addresses? And how did you handle this in the old system?

[2017-06-21 20:07] kbt1 commented on #205
this is what the old system looked like
![image](https://user-images.githubusercontent.com/26387044/27404319-2f32ea4a-5693-11e7-9745-e9223e35e8dc.png)
this is the new system
![image](https://user-images.githubusercontent.com/26387044/27404331-3b1c73e4-5693-11e7-800c-9b4fe2a3ed30.png)
Napa, Carquest, Arnold Motor Supply and I am sure there are others that have same names and several member location

[2017-06-21 20:22] omnitekinc commented on #205
@sagarjagdish can you look into this and see if we could add the info?

[2017-06-21 20:25] kbt1 commented on #205
You could even make it 1 column and make it City, State.
that would make it a lot easier.

[2017-06-21 20:25] kbt1 commented on #199
tested, works good. closing.

[2017-06-21 20:25] #199 closed

[2017-06-22 05:28] sagarjagdish commented on #163
It's already done on stage and production.

[2017-06-22 05:30] sagarjagdish commented on #159
everything on stage and production both but it's my suggestion to take action related to bulk dues process on stage first to make sure and avoid any wrong action on production.

Please let me know if any query.

[2017-06-22 11:52] sagarjagdish commented on #204
We have done with change and uploaded changes on production. please verify change and let us know if any query.

[2017-06-22 11:53] sagarjagdish commented on #205
We have added column with named "Location" which include "City, State". Please verify and confirm our change.

[2017-06-22 12:46] kbt1 commented on #205
perfect!

[2017-06-22 12:46] #205 closed

[2017-06-22 13:16] kbt1 commented on #163
prints perfect.
thank you!

[2017-06-22 13:16] #163 closed

[2017-06-22 13:22] kbt1 commented on #204
I went through all the new members from 7/1/2016 to current and entered all the membership sources.
they are now gone?????
[New membership worksheet sample.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1094878/New.membership.worksheet.sample.xlsx)

[2017-06-22 13:31] kbt1 commented on #159
I thought all the payments would be pulled automatically into the spreadsheet so then i can edit prices and add or delete records before exporting the file into dues?
If I have to enter all the payments on the spreadsheet, that's the same as entering everything into the dues system.
I thought you would be able to pull all the monthly payments into the spreadsheet from the membership system since t

[2017-06-22 14:30] amandagoyette commented on #204
@kbt1 Also, you have two more new members on your sample then the exported worksheet. Mbr 34839 & mbr 43147 (may reinstated) are not on the new spreadsheet, but are on the sample you attached this morning.

[2017-06-22 19:53] kbt1 commented on #204
Stella
Any idea how all my Membership Sources have disappeared?

I went through all the new members from 7/1/2016 to current and entered all the membership sources.
they are now gone?????
New membership worksheet sample.xlsx

[2017-06-22 20:21] omnitekinc commented on #204
Probably got dropped when we are updating something.
@sagarjagdish can you please add it back? And find out the cause of the problem

[2017-06-23 12:06] sagarjagdish commented on #159
We have provided option to download monthly member who having expiry in next month. Please use "Upcoming Monthly Renewal" button to download excel with member data.  Please make sure it's exported only those member who having expiry between today to 2nd of next month.

Please review this change and let me know if any change required in this implementation.

![image](https://user-images.githubuserc

[2017-06-23 12:09] sagarjagdish commented on #204
I have looked into this issue and notice all those source setup on stage not on production. I have updated source from stage to production and now it's start showing in report.

Please verify update on production and let us know if any query.

[2017-06-23 16:43] kbt1 commented on #204
thank you for correcting.

[2017-06-23 16:43] #204 closed

[2017-06-23 16:59] kbt1 commented on #159
Works in "Live" version but in the "STAGE" version, all expiration dates have been updated due to thats the way we used to do it.
In the "Stage Version" can you set all the monthly payment people to 6/1/17 so I can check it out.
Nothing comes up cause they are all updated.

[2017-06-23 19:11] kbt1 commented on #155
Stella
Member counts are good.
Steve and I need to discuss the Desktop and Desktop and Web user counts.
They still seem off. Once we get closer, we can close this.

[2017-06-26 04:09] sagarjagdish commented on #159
We have updated logic and now it's exporting data from the stage. Please verify and let us know if any query.

[2017-06-26 04:14] sagarjagdish commented on #155
@kbt1 : Please find attached file for list of member which we counting under Desktop and Desktop and Web user. Please verify and let us know if we missed or considering additional member.
[ProsisProQuickMembershipCountReport-5900.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1101035/ProsisProQuickMembershipCountReport-5900.xlsx)

[2017-06-26 16:02] kbt1 opened #206 "Export Tab"
I am trying to pull a list of Members that joined 1/1/17 to current using the Export Tab
Nothing is coming up??
![image](https://user-images.githubusercontent.com/26387044/27548504-be012ec0-5a5e-11e7-94ce-856af82fdee4.png)
![image](https://user-images.githubusercontent.com/26387044/27548524-ceb9562a-5a5e-11e7-9372-55f5b06211a5.png)

Not sure if I am doing something wrong???
I need Join Date of 1/1

[2017-06-26 16:06] kbt1 commented on #206
Never mind, i figured out my mistake.

[2017-06-26 16:06] #206 closed

[2017-06-26 16:50] kbt1 commented on #155
looks good.

[2017-06-26 16:50] #155 closed

[2017-06-26 18:44] kbt1 commented on #159
Works great.
My only question is, can you have 2: **Uploading Monthly Renewal Credit Cards** and **Uploading Monthly Renewal Checks**???  It would just be easier this way.
I guess the next thing is to update it in the Live version we are using and I can create a bulk batch.

[2017-06-26 20:29] kbt1 opened #207 "Membership and Prosis Invoices"
I just ran invoices that I am going to print July 1 and noticed 1 problem.
The amount due should be the renewal fee excluding any contributions or discounts from the previous year.  If you look at Member #125, Membership due should be $399, not $449 with contributions. We cant assume anyone is contributing money if they did the previous year.
Attached are 5 samples i found.
All invoices should be

[2017-06-27 13:13] sagarjagdish commented on #207
We have resolved this issue on stage & Production. Please verify.

[2017-06-27 13:16] kbt1 commented on #207
good to go

[2017-06-27 13:16] #207 closed

[2017-06-27 13:18] kbt1 commented on #159
Sagar
Is the above request possible?
make a credit card upload and checking upload?
let me know because I am ready to go live and start using it.

[2017-06-27 13:23] sagarjagdish commented on #159
@kbt1 : It's possible but I have question please see below.

1) here you need 2 **download** button like "Upcoming Monthly Renewal CC" & "Upcoming Monthly Renewal Checks"?

I don't think there is 2 **upload** button required because single upload can manage both. If you upload CC member detail then it's create batch for those and if you upload excel with Checks detail then it will create batch for

[2017-06-27 13:34] kbt1 commented on #159
When I upload the batch, it pulls both credit card and checks and I do them separately each month.
So i can save 2 spreadsheets and add or delete from them each month?
I guess I need to do the actual batch and see how it goes.
Let me know when it is ready to go on the Live database and i will work on it.
I have to manually set back all the expiration dates of the monthly accounts first. Some are p

[2017-06-27 13:52] sagarjagdish commented on #159
@kbt1  : currently all the changes which available on stage are present on live. So you can see same function on live as well.

regarding below requirement, please see my comment.
+++++++++++++++++
When I upload the batch, it pulls both credit card and checks and I do them separately each month.
+++++++++++++++++
Okay for that we can provide 2 button like as below to pull Credit Card and Checks in

[2017-06-27 13:56] kbt1 commented on #159
that would be perfect. so the credit card will only pull credit card monthlys and the check will only pull checking.
let me know when done.

[2017-06-27 13:59] sagarjagdish commented on #159
Okay. We will work on this and will send you update once it's done.

[2017-06-27 14:41] kbt1 commented on #159
Sagar:
the above will be good.
When you are done, can you set Monthly Credit Cards and Checks with dates of 6/1/17 and forward to 6/1/17. Then I dont have to manually change dates. I have a few that are paying for May but I can manually do those.
So any Monthlys with expiration dates of 6/1/17 and forward, make them 6/1/17.

Thank you!

[2017-06-27 14:55] sagarjagdish commented on #159
@kbt1 : Okay. I have noted above request and will do.

[2017-06-28 14:06] sagarjagdish commented on #159
@kbt1 : We have done with this change and uploaded on stage and live both. Please verify and confirm our change.

+++++++++++++++++++++++++
So any Monthlys with expiration dates of 6/1/17 and forward, make them 6/1/17.
+++++++++++++++++++++++++
We have updated only those member who having expiration dates between of 6/1/17 to 6/30/2017. Please confirm our action and let me know if any change requi

[2017-06-28 14:58] kbt1 commented on #159
**All monthlys that expire 6/1/17 and ALL months forward and into 2018 need to be set back to 6/1/17.**
Before our new system, i manually changed expirations for a full year so everyone needs to be set back so I start running monthlys through the dues processing bulk system.

When dates are updated, let me know and I will work on this today.

[2017-06-28 15:07] sagarjagdish commented on #159
@kbt1 : We have taken action as per your above comment and updated all monthly members with expire 6/1/17 who having expire greater than 6/1/17. can you please check now?

[2017-06-28 15:08] kbt1 commented on #159
i will work on it and let you know if i have any problems today.

[2017-06-28 18:01] kbt1 commented on #159
Sagar:
I pulled the report and there are not many Prosis monthlys.
**Can you make sure Membership and Prosis monthlys that expire 6/1/17 and ALL months forward and into 2018 need to be set back to 6/1/17.**
let me know when done and i will try again,

[2017-06-28 19:39] stevefox3781 commented on #201
Good -- Thank you!

[2017-06-28 19:39] #201 closed

[2017-06-29 05:28] sagarjagdish commented on #159
We have updated both Member and Prosis Pro monthly users to 6/1/17. Please export data and let us know if any issue.

[2017-06-29 14:44] kbt1 opened #208 "URGENT REPLY REQUESTED - monthly batch"
i have created my spreadsheet for the monthly credit cards and I am getting this error.
it needs to fixed ASAP, everyone is locked out of Prosis software. I need to get this posted.

![image](https://user-images.githubusercontent.com/26387044/27693555-6181c4cc-5caf-11e7-85c6-185d7ef21a45.png)
I have saved it on my desktop, on my "M" drive, renamed it and it wont work.

If this cant be fixed right

[2017-06-29 14:46] sagarjagdish commented on #208
let me look into this error.

[2017-06-29 14:48] kbt1 commented on #208
here is the spreadsheet.
[Monthly Credit Card 062917.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1112421/Monthly.Credit.Card.062917.xlsx)

[2017-06-29 14:50] sagarjagdish commented on #208
+++++++
If this cant be fixed right now so i can get these posted, can you change all monthly dates from 6/1/17 to 7/1/17 ASAP.
+++++++
Updated exp. date as before.

[2017-06-29 14:53] sagarjagdish commented on #208
@kbt1 : can you please try with same file now?

[2017-06-29 14:54] kbt1 commented on #208
working on it now.
thank you.

[2017-06-29 15:06] kbt1 commented on #159
Worked like a charm!!!!!

I am going to do checking now. I will let you know if I have any problems.

[2017-06-29 15:11] sagarjagdish commented on #159
That's great. Please update me if you found any issue.

[2017-06-29 15:15] kbt1 commented on #159
Sagar
All monthlys for CHECKING ONLY dates need to be changed to 6/1/17 for Prosis Pro.
DO NOT DO ANYTHING WITH RECORDS THAT ARE MARKED WITH CREDIT CARDS, THEY HAVE BEEN POSTED.

[2017-06-29 15:17] sagarjagdish commented on #159
Okay..let me do that.

[2017-06-29 15:23] sagarjagdish commented on #159
@kbt1 : Upload done please check and let me know if any issue.

I have updated only record which having payment method check.

[2017-06-29 15:25] kbt1 commented on #159
Sorry, can you change the check transactions for PROSIS only to 6/30/17 so they are not locked out right now.

[2017-06-29 15:28] sagarjagdish commented on #159
It's done I set exp to 6/30/17 for the PROSIS only.

[2017-06-29 15:31] kbt1 commented on #159
thank you.

[2017-06-29 16:21] kbt1 commented on #159
Processed checking and uploaded and got this error
![image](https://user-images.githubusercontent.com/26387044/27698496-e4d046de-5cbc-11e7-8538-0576f15465e6.png)
Payment method is check
Payment term is marked as 2 or more because they are paying June and July to equal 8/1/17 exp date
and 1 member paid 10 months to pay off the monthly.
can you allow multiple terms?

[2017-06-29 16:38] kbt1 commented on #208
Processed checking and uploaded and got this error
![image](https://user-images.githubusercontent.com/26387044/27699267-54a459e4-5cbf-11e7-88c6-ed08a576a90c.png)

Payment method is check
Payment term is marked as 2 or more because they are paying June and July to equal 8/1/17 exp date
and 1 member paid 10 months to pay off the monthly.
can you allow multiple terms?

let me know as soon as you can.

[2017-06-29 17:05] sagarjagdish commented on #159
@kbt1 :
++++++++++
can you allow multiple terms?
++++++++++
=> Currently we are not implemented function to allow multiple terms, we will implement this function.

++++++++++
Processed checking and uploaded and got this error
++++++++++
error occur only because of blank payment method. It should not be blank.

![image](https://user-images.githubusercontent.com/7322922/27700067-16e47ca0-5d1a-11e7-9

[2017-06-29 17:09] kbt1 commented on #159
here is my spreadsheet,
all fields are filled in.
let me know when I can do this once you allow multiple terms.

thank you
[Monthly Checking 062917.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1112892/Monthly.Checking.062917.xlsx)

once i get this batch posted for Checks, i am going to go through all records and make sure they are marked with payment types.

[2017-06-29 17:37] kbt1 commented on #159
Payment Term is invalid, i dont think it likes multiple payments for 1 company.
payment term is 1 for the monthly and i have 2, 3 and 10 for some checking.
will you be able to allow this?

[2017-06-29 19:25] kbt1 commented on #208
Error invalid payment term.
i changed them all back to 1
not sure why this wont work but the credit cards worked fine.   **error message and spreadsheet attached.**

![image](https://user-images.githubusercontent.com/26387044/27706286-ae1cf852-5cd6-11e7-8a9f-1cd138b5e20c.png)
[Monthly Checking 062917.xlsx](https://github.com/omnitekinc/AERA_MSS_Clients/files/1113296/Monthly.Checking.062917.xlsx)

[2017-06-30 09:08] sagarjagdish commented on #159
@kb1 :

We have resolved "Payment Term is invalid" issue for check and now it's working fine on production.

++++++++++++++
payment term is 1 for the monthly and i have 2, 3 and 10 for some checking.
will you be able to allow this?
++++++++++++++
=> currently entire system having check like if user is monthly then payment will come as monthly. If you need to allow multiple payment term then we nee

[2017-06-30 13:12] kbt1 commented on #208
I will work with that this morning.
Can you do this, We had talked to Stella about it but I dont think it got implemented and now any monthly who hasnt been posted is locked out and we dont want that.
**Can we also add a function for Prosis Pro - Only Monthly Accounts: Adding a 30 days buffer for Prosis Pro logout date. Currently, if the monthly Prosis Pro user expired on June 1st, they will not b

[2017-06-30 13:24] sagarjagdish commented on #208
+++++++++++++++
Can you do this, We had talked to Stella about it but I dont think it got implemented and now any monthly who hasnt been posted is locked out and we dont want that.
+++++++++++++++
Yes, we can do that. I will implement this function and update you.

[2017-06-30 13:36] kbt1 commented on #208
please implement as soon as possible.

[2017-06-30 13:58] kbt1 commented on #208
check worked good today.
once you implement the 30 day buffer and i test, i will close these and looks like things will be good to go.
Thank you!

[2017-06-30 13:59] sagarjagdish commented on #208
We done with quick implementation like allowing Prosis Pro user with 30 days buffer time. So all Prosis Pro user can do login right now. It's already uploaded on production so no need to worry about that.

We will provide you option to change that 30 days buffer time from your end using membership screen like below.

![image](https://user-images.githubusercontent.com/7322922/27738811-2230f934-5dca

[2017-06-30 14:08] kbt1 commented on #208
that is perfect, however i checked and i do not see that Buffer Box.

[2017-06-30 14:23] sagarjagdish commented on #208
@kbt1 : We have uploaded box on production. Please refer below image. It's after Expiration Date.

![image](https://user-images.githubusercontent.com/7322922/27739856-ab51fa1c-5dcd-11e7-8759-6c1ba17ce751.png)

[2017-06-30 14:25] kbt1 commented on #208
that is perfect.
let me share with others and test.

[2017-06-30 16:58] aharmening opened #209 "Membership - Reports - Pop up message"
![image](https://user-images.githubusercontent.com/26386841/27746001-2ac3c084-5d8b-11e7-9561-66ec24799dd0.png)
This should probably read "No records found"

[2017-06-30 19:28] #159 closed

[2017-06-30 19:30] kbt1 commented on #208
monthly bulk batches worked perfectly.
30 Day Buffer works good.

[2017-06-30 19:30] #208 closed

[2017-06-30 19:36] kbt1 opened #210 "Monthly Payments printing on Invoices"
Monthly Payments are not supposed to print or email on any invoices.
I was going to email a membership invoice and their Prosis Monthly payment is pulling on it also.

![image](https://user-images.githubusercontent.com/26387044/27751325-60399e3a-5da1-11e7-8790-75d0e2394d43.png)

please fix.
I want to be able to print or email invoices without the monthly payment on it.
There are companies that are

[2017-07-03 14:29] sagarjagdish commented on #210
We have addressed this issue. can you please take a look?

[2017-07-03 14:43] sagarjagdish commented on #209
We have updated message with "No records found" text.

[2017-07-03 14:45] kbt1 commented on #210
good to go!

[2017-07-03 14:45] #210 closed

[2017-07-03 15:53] kbt1 opened #211 "Email Invoice"
I selected ID#42720 membership expiration date 7/1/17 to email invoice.
their record is checked and they have an email address and I get this message:
![image](https://user-images.githubusercontent.com/26387044/27800160-c909201e-5fdd-11e7-91db-1eef8fcdf30f.png)
this also happened with ID#125
![image](https://user-images.githubusercontent.com/26387044/27800513-4f3c7a22-5fdf-11e7-831c-44278eb5bf46.p

[2017-07-06 13:35] kbt1 opened #212 "Posting Monthly Check Payments batch"
Sagar
I deleted the 2 transactions that were not approved for check payments in the Bulk Dues Batch.
I updated the amount and posted.
The 2 companies that I deleted their transactions, still got posted with an expiration date of 8/1/17.
I manually changed them back to their previous dates.

can you test and see if it happens to you?

[2017-07-06 13:40] sagarjagdish commented on #212
@kbt1 : Please give me batch# and member# that need to be remove from that batch. I will remove that entry first and then look into further.

[2017-07-06 13:42] sagarjagdish commented on #211
It's resolved on production. Please take a look and let us know if any query.

[2017-07-06 13:44] kbt1 commented on #212
Batch 7-1-17 Bulk Entry Check
ID#44071
ID#44259

i think they were deleted but still posted with current expiration date.
I changed expiration dates back so they are correct but please make sure they are not posted in the batch.

[2017-07-06 13:46] kbt1 commented on #211
they work now  but coming up with **Total Amount Due: $##TOTALAMOUNTDUE##**

[2017-07-06 14:33] sagarjagdish commented on #211
We have taken action on that as well. can you please take a look?

[2017-07-06 14:34] sagarjagdish commented on #212
We have looked into this issue and found cause of this. Not it's resolved in stage and production both.

[2017-07-06 14:34] kbt1 commented on #211
ID#43391 i can not email invoice, getting error message.
![image](https://user-images.githubusercontent.com/26387044/27916312-4f32a492-622e-11e7-8b2a-28a3ff4f4e2d.png)

[2017-07-06 14:37] kbt1 commented on #211
just noticed ID#43391 is current, not expired.

[2017-07-06 15:03] kbt1 commented on #211
good to go.

[2017-07-06 15:03] #211 closed

[2017-07-06 15:04] kbt1 commented on #212
I will be running another Check batch in 2 weeks, if I have any problems, i will let you know.

thank you

[2017-07-06 15:04] #212 closed

[2017-07-06 16:45] kbt1 opened #213 "Emailing Invoice"
ID#10799 has an email in Accounting Contact but it is not coming up when I go to email invoice.
It should pull from Accounting Contact email and email in membership record.

![image](https://user-images.githubusercontent.com/26387044/27922388-7f132ea4-6240-11e7-94f2-499b61715862.png)
![image](https://user-images.githubusercontent.com/26387044/27922413-93cbc89c-6240-11e7-8899-881b460fb8ed.png)

[2017-07-07 05:04] sagarjagdish commented on #213
It's resolved on production. Please take a look and let us know if any query.
![10799](https://user-images.githubusercontent.com/7322922/27943853-1197c20c-6300-11e7-9016-08b5fa2e4cb5.png)

[2017-07-07 12:40] kbt1 commented on #213
good to go

[2017-07-07 12:40] #213 closed

[2017-07-07 13:19] kbt1 opened #214 "Emailing invoices"
I am still getting this error on other records
ID#41730 expired, tried to email invoice and got error
![image](https://user-images.githubusercontent.com/26387044/27959414-f6cdf44a-62ec-11e7-97cc-fdd05c0e4592.png)
there is an email in their record
![image](https://user-images.githubusercontent.com/26387044/27959438-0680d04c-62ed-11e7-99c3-772ce4fc56a6.png)

[2017-07-07 13:25] kbt1 opened #215 "Printing invoices"
i selected these records which have Prosis due
![image](https://user-images.githubusercontent.com/26387044/27959574-a1721a48-62ed-11e7-830a-948aaf6152ec.png)

and prosis didnt print on invoices
[Invoices not printing Prosis due.pdf](https://github.com/omnitekinc/AERA_MSS_Clients/files/1131079/Invoices.not.printing.Prosis.due.pdf)

[2017-07-07 13:39] sagarjagdish commented on #214
@kbt1  :

It's only because member expired in 2014 and system not allow to export that much old expired member based on below requirement. Please refer below requirement for that check. If you want to send invoice then you just need to update expiry date with range to 90 days. Please let me know if any change require in this implementation.

https://github.com/omnitekinc/AERA_MSS_Clients/issues/18

[2017-07-07 13:42] kbt1 commented on #214
thats right, thank you

[2017-07-07 13:42] #214 closed

[2017-07-07 13:58] sagarjagdish commented on #215
@kbt1 It's resolved on production. Please take a look and let us know if any query.

[2017-07-07 15:15] kbt1 commented on #215
printing membership and prosis is not printing and should!
[invoices still printing with membership only and should include Prosis.pdf](https://github.com/omnitekinc/AERA_MSS_Clients/files/1131384/invoices.still.printing.with.membership.only.and.should.include.Prosis.pdf)

[2017-07-07 15:18] kbt1 commented on #215
sorry, i logged out and logged back in and it is fixed.

good to go!

[2017-07-07 15:18] #215 closed

[2017-07-07 16:18] kbt1 opened #216 "Printing invoices - URGENT HELP REQUESTED"
something keeps getting changed, everything was printing good and now I noticed they arent.
some of these companies have membership AND prosis due and membership ONLY PRINTED.

if membership and prosis expire 90 days apart from each other, they BOTH print on the invoices whether printing or emailing.

![image](https://user-images.githubusercontent.com/26387044/27966745-ff475e22-6305-11e7-8e2d-efd7

[2017-07-07 17:06] kbt1 commented on #216
logged out and logged in and it fixed the issue. this should not be.

[2017-07-10 06:25] sagarjagdish commented on #216
@kbt1 :

We have looked into this issue and it's working file. Please find attached pdf file which I exported by selection same member which you provided in your comment. We notice like out of 16 member it's exporting 13 member in print and 3 member not printed because of below reason.

1536 - monthly member, ProsisPro no account
1844 - monthly member, ProsisPro annually but it will expire on 01/0

[2017-07-10 12:44] kbt1 commented on #216
once i logged out and logged back in, all the invoices pulled correctly.
i ran a first batch and noticed it was only membership and did not include Prosis.
seems to be fine now.

[2017-07-10 12:44] #216 closed

[2017-07-11 15:27] kbt1 opened #217 "Prosis Pro Buffer Days"
Sagar
can you change the Buffer Days to 7 now for all records.

thank you!

[2017-07-12 04:39] sagarjagdish commented on #217
@kbt1
It's resolved on production. now Buffer Day set to 7 for all records.
![bufferdays](https://user-images.githubusercontent.com/7322922/28101854-dbe80d82-66e8-11e7-9bdb-55418ee0f004.png)

[2017-07-12 13:46] kbt1 commented on #217
thank you!

[2017-07-12 13:46] #217 closed

[2017-07-13 12:50] kbt1 opened #218 "printing invoice"
ID#248 both membership and prosis are due. when i select their record and print invoice, only membership prints.

![image](https://user-images.githubusercontent.com/26387044/28167090-f48e58b6-679f-11e7-8e29-c9045c08e014.png)

[2017-07-13 13:04] sagarjagdish commented on #218
I just exported same invoice and it's showing both. I think there is something session conflict issue. That we need to check. If you can try now, It should will work.

![image](https://user-images.githubusercontent.com/7322922/28167596-bba2741a-67f9-11e7-8fbe-201789093008.png)

[2017-07-13 13:07] kbt1 commented on #218
Now only Prosis prints.
![image](https://user-images.githubusercontent.com/26387044/28167754-49a41442-67a2-11e7-803b-9f4706b38fc0.png)
and i get this error

![image](https://user-images.githubusercontent.com/26387044/28167779-5d6f6b70-67a2-11e7-88db-5379d74f8186.png)

[2017-07-13 13:10] kbt1 commented on #218
i signed out and signed back in and now it is fine.

this seems to happen a few times and every time i sign out and sign back in, things are fine.
last week i printed invoices and they were all wrong. when i logged out and back in, they were fine.
there must be some sort of issue.

[2017-07-13 13:16] sagarjagdish commented on #218
We are looking into this. Please don't close this ticket until we address this issue.

[2017-07-13 13:17] kbt1 commented on #218
thank you

[2017-07-14 12:42] kbt1 commented on #218
i am still getting this error message also when i try to print invoice for ID#42837
![image](https://user-images.githubusercontent.com/26387044/28212623-e2008a2a-6867-11e7-9272-0f434d48729e.png)

[2017-07-14 13:10] sagarjagdish commented on #218
@kbt1 : This member having too old expiry. Please refer below thread for this implementation.

https://github.com/omnitekinc/AERA_MSS_Clients/issues/197

https://github.com/omnitekinc/AERA_MSS_Clients/issues/186#issuecomment-306820485

https://github.com/omnitekinc/AERA_MSS_Clients/issues/86#issuecomment-298397673

[2017-07-14 13:16] sagarjagdish commented on #218
We have found cause of only Membership and only Prosis Pro invoice generate issue and resolved that issue on production.

Now onward this issue will not be occur because of Session conflict.

[2017-07-14 13:17] kbt1 commented on #218
Can you add a button here to print Membership and Prosis on one invoice? This would work for expired members for what i need.
![image](https://user-images.githubusercontent.com/26387044/28213644-9b777410-686c-11e7-87a1-3fab5160f0d6.png)

[2017-07-14 13:22] sagarjagdish commented on #218
Yes, that we can. This button will generate Prosis Pro and Membership both in single invoice without considering any criteria like 90 days or too old expiry date, correct?

[2017-07-14 13:24] kbt1 commented on #218
Yes, that would be perfect.

[2017-07-14 13:51] sagarjagdish commented on #218
@kbt1 : We have added print invoice button at top please refer below image and try with that.

![image](https://user-images.githubusercontent.com/7322922/28214877-a04cacf0-68c9-11e7-923a-2bc2e1d4c48b.png)

[2017-07-14 13:57] kbt1 commented on #218
that works perfect.
thank you!
i will keep you posted if I have any other issues with session conflict.

[2017-07-14 13:57] #218 closed

[2017-07-14 20:29] kbt1 opened #219 "Adding Prosis to a new member"
I am trying to add prosis to a new member
![image](https://user-images.githubusercontent.com/26387044/28229637-20a75dbc-68a9-11e7-9963-3607bb4ea27e.png)
and when i click on save, i get this
![image](https://user-images.githubusercontent.com/26387044/28229653-2e2b8c60-68a9-11e7-9cf5-015d6de3f223.png)
it wont save it. i signed out and back in and still did not work.

[2017-07-17 04:33] sagarjagdish commented on #219
@kbt1
It's resolved on production. now you can add new prosis.
Please take a look and let us know if any query.

[2017-07-17 19:14] kbt1 commented on #219
good to go

[2017-07-17 19:14] #219 closed

[2017-07-18 20:03] kbt1 opened #220 "Monthly Report Tab"
New Membership Report

I get this for FY2018
![image](https://user-images.githubusercontent.com/26387044/28337033-e3441e00-6bc9-11e7-9034-fa5906983d71.png)

I get this for FY2017
![image](https://user-images.githubusercontent.com/26387044/28337046-ed1f1114-6bc9-11e7-8132-65926c56e34c.png)

does each FY need to be set up for each year or can it be done in advance?

this is what i get if i enter 7/1

[2017-07-19 06:31] sagarjagdish commented on #220
@kbt1 : We have implemented this report as per below comment. Please let us know if any change required in this. Also please let us know if there is any wrong information exported in report so we can review and make it resolve.

++++++++++++++
Our fiscal year is July 1 thru June 30th. So we are currently in July 2016 thru June 30, 2017 Fiscal year.
++++++++++++++
https://github.com/omnitekinc/AERA

[2017-07-24 15:26] kbt1 commented on #220
looks good. all info matches

[2017-07-24 15:26] #220 closed

[2017-07-26 21:23] #209 closed